@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,500;1,600&family=Inter:wght@100;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");

.services {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/images/rectangle.png"),
    url("../../assets/images/servicesBg.png");
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 30px;
}
.services .servicesInfo h2,
.serviceCardHeading {
  font-size: 28px;
  font-weight: 600;
  line-height: 34.13px;
  font-family: Montserrat;
  position: relative;
}
.services .servicesInfo .vector,
.serviceCardSection .vector {
  margin-left: 20px;
}
.services .servicesInfo h2::before {
  content: "Niyə biz?";
  position: absolute;
  top: -30px;
  left: 20px;
  font-family: Dancing Script;
  color: #cebd88;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.services .servicesInfo p {
  width: 100%;
  height: 230px;
  text-align: start;
  line-height: 26px;
  font-size: 14px;
  color: #000000;
  font-family: Montserrat;
}
.services .imgBox {
  margin-top: 40px;
}
.services .imgBox img {
  width: 100%;
  height: 100%;
}
.services .imgBox {
  outline: 2px solid #cebd88;
  outline-offset: 10px;
}
@media only screen and (max-width: 600px) {
  .services .imgBox {
    margin-top: 100px;
  }
}
.serviceCardSection {
  margin-top: 60px;
  padding-top: 60px;
}
.services .serviceCardSection .serviceCardHeading::before {
  content: "Xidmətlər";
  position: absolute;
  top: -30px;
  left: 20px;
  font-family: Dancing Script;
  color: #cebd88;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.card {
  width: 90% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 40px !important;
  border-radius: 0 !important;
  margin-top: 20px;
  padding-bottom: 20px;
}
.slider {
  width: 100% !important;
  margin: 0 auto;
}

.card .cardImg {
  width: 90%;
  margin-top: 20px;
}
.card .cardInfo,
.card .cardBtn {
  text-align: center !important;
  margin: 0 auto !important;
}
.card .cardBtn {
  padding: 10px 60px;
  border: none;
  border-radius: 0;
  outline: 2px solid #cebd88;
  outline-offset: 2px;
  color: #fff;
  background: #cebd88 !important;
  margin-bottom: 60px;
  cursor: pointer;
}
.card .cardText {
  width: 90%;
  font-size: 12px;
  line-height: 22px;
  font-family: Montserrat;
  color: #000000;
}
